@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama?styles=170364');

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    /* border: 1px solid red; */
    max-width: 1440px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

/* shared styles */

section {
    /* width: 90%; */
    margin: 5rem auto;
}

.section-des {
    font-size: .90rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.section-title {
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 10px;
}

.btn-primary {
    border-radius: 3rem;
    border: none;
    background-color: rgb(230, 83, 60);
    padding: 1rem 2.6rem;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 400;
    cursor: pointer;
}

.btn-secondary {
    border-radius: 3rem;
    border: 2px solid rgb(255, 255, 255);
    padding: 1rem 2.6rem;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}

/* nav styles */
header {
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
}

.navbar {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 {
    color: rgb(230, 83, 60);
    font-size: 2.1rem;
    font-weight: 800;
}

.icon {
    display: none;
}

nav ul {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 3rem;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    height: 46px;
    padding: 4px;
    padding-left: 4px;
}

nav ul li {
    list-style: none;
}

nav ul li span {
    border-radius: 4rem;
    background: rgb(230, 83, 60);
    padding: .5rem 1.25rem;
}

/* Banner part styles */
.banner {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;

}

.banner-img-sec {
    position: relative;
    /* width: 100%; */
}

.banner-content {
    max-width: 600px;

}

.banner-title {
    font-size: 4.5rem;
    font-weight: 900;
    line-height: 125%;
    margin-bottom: 1.25rem;
}

.banner-title span {
    font-family: 'Miama', sans-serif;
    font-size: 5rem;
    font-weight: 400;
}

.banner-img {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);

}

.circle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid rgba(230, 83, 60, 1);
    background: rgba(230, 83, 60, 1);

}

#btn {
    padding: 5px;
    position: absolute;
    left: -60px;
    top: 456px;
}

.btn-1 {
    /* padding: 2px 4px; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.circle i {
    font-size: 1.5rem;
    padding: 20%;
    margin-left: 6%;
    color: rgb(255, 255, 255);
}

.btn-content {
    /* align-items: center; */
    text-align: start;
}

#btn2 {
    padding: .75rem .5rem;
    /* width: 193px;
height: 98px; */
    text-align: start;

}

#btn2 {
    /* margin-top: 0; */
    position: absolute;
    right: -5px;
    top: 120px;
}

button h4 {
    color: rgb(250, 250, 249);
    font-size: 1.5rem;
    font-weight: 900;
    margin: 5px;
}

button p {
    margin: 5px;
}

/* First part styles starts */
.first-parts {
    width: 90%;
    margin: 0 auto;
}

.first-part-imgs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.first-part-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.first-part-img img {
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.first-part-content {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2.4rem;
}

.first-part-title {
    font-size: 2.4rem;
    font-weight: 900;
    margin-bottom: .5rem;
}

.imgs-title {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: -.5rem;
    padding-bottom: 0;
}

/* second part styles */
.second-parts {
    width: 90%;
    margin: 5rem auto;
    padding: 2rem;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.1);

}

.second-part-content {
    width: 50%;
    height: 50%;
    align-items: start;
    align-items: center;
    margin: 10px;

}

.second-part-title {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: .5rem;
}

.second-part-img {
    width: 50%;
    /* height: 50%; */
}

.second-part-img img {
    width: 100%;
    border-radius: 1rem;
    height: 100%;
}

/* third section styles */

.third-part-header {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 2rem;


}

.third-part {
    background: rgb(34, 34, 34);
}

.third-part-content {
    width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 5rem;
    justify-content: space-between;
    padding-bottom: 1.5rem;

}

.third-form-part {
    width: 50%;
}

.table {
    max-width: 400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.third-part-title {
    font-size: 1.8rem;
    font-weight: 800;
}

#box-h {
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    font-weight: 500;
}

.box {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: .80rem;
    color: rgba(255, 255, 255, 0.5);
    font-size: .80rem;
    font-weight: 400;
}

.third-part-inputs {
    width: 50%;
}

.inputs {
    /* max-width: 600px; */
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 1.5rem;
    margin-top: 2.5rem;

}

#box-input {
    grid-column: span 2;
}

.input-final {
    width: 100%;
    padding: .80rem 2.2rem .80rem 1.2rem;
    border-radius: .5rem;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: rgba(255, 255, 255, 0.6);
    box-sizing: border-box;
    display: block;
}

/* fourth parts style */
.fourth-parts {
    width: 90%;
    margin: 5rem auto;
}

.fourth-part-header {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

.fourth-part-content {
    border-radius: 1.4rem;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}

.fourth-part-content img {
    width: 100%;
    height: 300px;
    border-radius: .5rem;
    filter: brightness(75%);

}

.fourth-box {
    position: relative;
}

.fourth-part-box-cont {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.fourth-box-title {
    font-size: 1.2rem;
    font-weight: 800;
    margin-bottom: 0;
    letter-spacing: 1px;
}

.fourth-box-des {
    font-size: .8rem;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 5px;
}

/* special styles */
.special-parts{
    width: 90%;
    margin: 0 auto;
    
}
.fifth-part {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
}

.fifth-left {
    max-width: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/exercise3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.fifth-right {
    max-width: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/exercise4.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.text-align {
    text-align: center;
}

.btn-special {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    padding: 15px 38px;
    background: rgb(230, 83, 60);
    border-radius: 3rem;
    border: none;
    cursor: pointer;

}
.btn-special:hover{
    transform: scale(1.2);
    
}

/* footer style */
footer {
    background: rgba(255, 255, 255, 0.1);
}

.footer-part {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    justify-items: end;
    gap: 40px;

}

.section-tit {
    font-size: 1.8rem;
    font-weight: 700;
}

.footer-title {
    color: rgb(230, 83, 60);
    font-size: 4.5rem;
    font-weight: 800;
    margin-bottom: 0;
}


.row-2 p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2rem;
    font-weight: 400;
}

.style-hr {
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    width: 90%;
    margin: 1rem auto;
}

.final-part {
    text-align: center;
    align-content: center;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}




@media screen and (max-width:576px) {
    body {
        font-size: .5rem;
    }

    button h4 {
        font-size: 1.2rem;
    }

    .section-des {
        font-size: .75rem;
    }

    nav ul {
        display: none;
    }

    .icon {
        display: block;
        font-size: 1.5rem;
    }

    .banner {
        flex-direction: column;
        margin: 0 auto;
        width: 90%;
    }

    .banner-content {
        text-align: start;
    }

    .banner-title {
        font-size: 2.5rem;
    }

    .banner-title span {
        font-size: 2.5rem;
    }

    #btn {
        left: 8px;
        top: 372px;
    }

    .btn-header {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    /* First part responsive */
    .first-part-imgs {
        grid-template-columns: repeat(1, 1fr);
    }

    /* second-part respo */
    .second-parts {
        flex-direction: column;
        width: 80%;
        padding: 1rem;
        gap: 10px;
        margin: 5rem auto;
    }

    .second-part-title {
        font-size: 2rem;
    }

    .section-title {
        font-size: .7rem;
    }


    .second-part-content {
        width: 100%;
        height: 100%;
    }

    .second-part-img {
        width: 100%;

    }

    /* third part respo */
    .section-title {
        font-size: 2.1rem;
    }

    .third-part-title {
        font-size: 1.4rem;
    }


    .third-part-header {
        margin: 1rem;
        margin-bottom: 3rem;
    }

    .third-part-content {
        flex-direction: column;
        gap: 3rem;
    }

    .third-form-part {
        width: 100%;
    }

    .third-part-inputs {
        width: 100%;
    }

    /* fourth-part repo */
    .fourth-part-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .fifth-part {
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
    }


    /* footer repo */
    .footer-part {
        grid-template-columns: repeat(1, 1fr);
        justify-items: start;
    }
}